html {
    
.montserrat-uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:  weight;
    font-style: normal;
    }
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, #4B0082, #000000, #4B0082);
}

header {

    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

header h2 {
    font-size: 2rem;
    text-align: center;
}

.conteiner {
    width: 400px;
    margin: 0 auto;
    color: rgb(19, 17, 17);
}

section article {
    background-color: #efefef;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.15rem 0;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem #ffffff
}

section article h2, section article p {
    margin: 1rem;
}
    

footer p {
    color: #efefef;
}

section article h3 {
    
    text-align: center;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.image-row {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 10px; 
}

img {
    width: 400px; 
    height: auto; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

div img{
    width: 220px;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    
}

header img {
    width: 200px;
    height: auto;
    margin-left: 100px; 
    border-radius: 30px;
}

div.image-row p{
    font-size: 2rem;
    text-align: center;
    color: #efefef;
}

.links{
    text-align: center;
    font-size: 3rem;
    color: #efefef;
    
}

#buscador {
    display: flex;
}

#buscador input[type="text"] {
    flex-grow: 1;
    padding: 10px;
}

#buscador button {
    padding: 10px;
    background-color: #3a0606;
    color: white;
}
